<div class="scrollable" ng-if="sidebarLeft == 'menu'">
    <h1 class="scrollable-header app-name">{{activeCategory.name}}</h1>

    <div class="scrollable-content">
        <div class="list-group" ui-turn-off='uiSidebarLeft'>
            <a class="list-group-item" href ng-click='Ui.turnOff("uiSidebarLeft")'>Back <i class="fa fa-chevron-right pull-right"></i></a>
            <a class="list-group-item" href="#/create/item" >Share Item</a>
            <a class="list-group-item" href="#/list/items" >List of shared items</a>
            <!--<a class="list-group-item" href ng-click="filter();">Filter Test</a>-->

        </div>
    </div>
</div>
