<md-content layout="column">
  
  <h1>yunity chat - create</h1>
  
  <h2 ng-if="ctrl.error">ERROR: {{ ctrl.error }}</h2>
  
  <md-list>
    <md-list-item ng-repeat="user in ctrl.participants" class="md-2-line">
      <img ng-src="{{ user.avatarUrl }}" class="md-avatar">
      <p>{{ user.first_name }} {{ user.last_name }}</p>
    </md-list-item>
  </md-list>
  
  <md-button ng-disabled="!ctrl.error && ctrl.participants.length <= 1"
             ng-click="ctrl.create()"
             class="md-raised md-primary">Create Conversation</md-button>
  
</md-content>
