<div class="scrollable">
  <div id="chat-container" class="scrollable-content">
    <div class="chat-bubble" ng-repeat="message in ctrl.messages">
      <img class="chat-avatar" ng-src="{{ ctrl.isabellaPng }}">
      <div class="chat-message">{{ message.content }}</div>
    </div>
  </div>
  <div class="scrollable-footer">
    <form id="chat-form" role="form" ng-submit='ctrl.sendMessage()'>
      <fieldset>
        <div class="input-group">
          <input type="text" ng-model="ctrl.content" class="form-control" placeholder="Message">
          <span class="input-group-addon" id="basic-addon2">
            <button type="submit">Send</button>
          </span>
        </div>
      </fieldset>
    </form>
  </div>
</div>