<md-content layout="column">
  
  <h1>yunity chat</h1>
  
  <div class="chat-bubble" ng-repeat="message in ctrl.messages">
    <img class="chat-avatar" ng-src="{{ ctrl.isabellaPng }}">
    <div class="chat-message">{{ message.content }}</div>
  </div>
  
  <div layout="row">
    <form id="chat-form" role="form" ng-submit='ctrl.sendMessage()'>
      <fieldset>
        <div class="input-group">
          <input type="text" ng-model="ctrl.content" class="form-control" placeholder="Message">
          <span class="input-group-addon" id="basic-addon2">
            <button type="submit">Send</button>
          </span>
        </div>
      </fieldset>
    </form>
  </div>
  
</md-content>

