<div flex layout="column">
  
  <div layout="row" class="profile-header">
    <div class="profile-avatar">
      <img src="/images/Bodhi.png" />
    </div>
    <div flex layout="column" class="profile-header-info">
      <div flex layout="row" class="profile-display-name">
        <div flex>
          <h1>{{ ctrl.user.display_name }}</h1>
        </div>
        <div layout="column">
          <md-button class="md-icon-button" aria-label="Connect">
            <md-icon md-font-library="material-icons">person_add</md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="Message"
                     ng-href="#/chat/{{ ctrl.user.id }}">
            <md-icon md-font-library="material-icons">chat_bubble_outline</md-icon>
          </md-button>
        </div>
      </div>
      <div layout="row" class="profile-connections">
        <div flex>
          <h2 show-logged-in>(This is you!)</h2>
        </div>
        <div>
          <md-button class="md-icon-button" aria-label="Information">
            <md-icon md-font-library="material-icons">info_outline</md-icon>
          </md-button>
        </div>
      </div>
    </div>
  </div>
  
  <md-tabs flex md-stretch-tabs="always" md-no-ink-bar="true">
    <md-tab label="Wall">
      <md-tab-content class="md-padding" layout="column" class="wall">
        
        <md-card class="comment-card add-comment">
          <md-card-content layout="row" class="comment">
            <img class="comment-media" src="/images/Bodhi.png" />
            <div flex layout="column">
              <h3 class="comment-title">Tess</h3>
              <md-input-container class="md-block">
                <textarea ng-model="comment" placeholder="Comment ..."
                          md-maxlength="500" rows="5"></textarea>
              </md-input-container>
            </div>
          </md-card-content>
        </md-card>
        
        <md-card class="comment-card">
          <md-card-content layout="row" class="comment">
            <img class="comment-media" src="/images/Bodhi.png" />
            <div flex layout="column">
              <h3 class="comment-title">Tess</h3>
              <div class="comment-content">
                Thanks everyone for the awesome time at WuppDays #7!
                I'm going to write some mindless stuff here so I can
                see what long comments would look like. Ones that go
                over multiple lines, you know?
              </div>
              <div class="comment-replies">
                
                <div layout="row" class="comment add-comment">
                  <img class="comment-media" src="/images/Bodhi.png" />
                  <div flex layout="column">
                    <h3 class="comment-title">Tess</h3>
                    <md-input-container class="md-block">
                      <textarea ng-model="comment" placeholder="Comment ..."
                                md-maxlength="500" rows="5"></textarea>
                    </md-input-container>
                  </div>
                </div>
                
                <div layout="row" class="comment">
                  <img class="comment-media" src="/images/Bodhi.png" />
                  <div flex layout="column">
                    <h3 class="comment-title">Tess</h3>
                    <div class="comment-content">
                      I'm talking to myself for the sake of science~
                    </div>
                  </div>
                </div>
                
                <div layout="row" class="comment">
                  <img class="comment-media" src="/images/Bodhi.png" />
                  <div flex layout="column">
                    <h3 class="comment-title">Tess</h3>
                    <div class="comment-content">
                      This is how comments might look on a user's wall.
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </md-card-content>
        </md-card>
        
        <md-card ng-repeat="i in [1,2,3,4,5]" class="comment-card">
          <md-card-content layout="row" class="comment">
            <img class="comment-media" src="/images/Bodhi.png" />
            <div flex layout="column">
              <h3 class="comment-title">Tess</h3>
              <div class="comment-content">
                This comment card will repeat a couple of times to see
                how things might look with lots of comments.
              </div>
              <div class="comment-replies">
                
                <div layout="row" class="comment add-comment">
                  <img class="comment-media" src="/images/Bodhi.png" />
                  <div flex layout="column">
                    <h3 class="comment-title">Tess</h3>
                    <md-input-container class="md-block">
                      <textarea ng-model="comment" placeholder="Comment ..."
                                md-maxlength="500" rows="5"></textarea>
                    </md-input-container>
                  </div>
                </div>
                
                <div layout="row" class="comment">
                  <img class="comment-media" src="/images/Bodhi.png" />
                  <div flex layout="column">
                    <h3 class="comment-title">Tess</h3>
                    <div class="comment-content">
                      Wow. That's amaaaazing!
                    </div>
                  </div>
                </div>
                
                <div layout="row" class="comment">
                  <img class="comment-media" src="/images/Bodhi.png" />
                  <div flex layout="column">
                    <h3 class="comment-title">Tess</h3>
                    <div class="comment-content">
                      Incredible.
                    </div>
                  </div>
                </div>
                
                <div layout="row" class="comment">
                  <img class="comment-media" src="/images/Bodhi.png" />
                  <div flex layout="column">
                    <h3 class="comment-title">Tess</h3>
                    <div class="comment-content">
                      Fabulous!
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </md-card-content>
        </md-card>
        
      </md-content>
    </md-tab>
    <md-tab label="Shared by {{ ctrl.user.display_name }}">
      
    </md-tab>
  </md-tabs>
  
</div>
