<div flex layout="column" class="profile">
  
  <div layout="row" class="page-header"
       md-colors="{ backgroundColor: 'accent-700' }">
    <img class="profile-avatar" ng-src="/images/Bodhi.png" />
    <div flex layout="column">
      <div flex layout="row">
        <div flex>
          <h1>{{ user.display_name }}</h1>
        </div>
        <div layout="column" ng-if="!ownProfile">
          <md-button class="md-icon-button" aria-label="Connect">
            <md-icon md-font-library="material-icons">person_add</md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="Message"
                     ng-href="/chat/{{ user.id }}">
            <md-icon md-font-library="material-icons">chat_bubble_outline</md-icon>
          </md-button>
        </div>
      </div>
      <div layout="row" md-colors="{ backgroundColor: 'accent-500' }">
        <div flex ng-switch="ownProfile">
          <h2 ng-switch-when="true">(This is you!)</h2>
          <h2 ng-switch-default>0 mutual connections</h2>
        </div>
        <div>
          <md-button class="md-icon-button" aria-label="Connections"
                     ng-href="/profile/{{ user.id }}/connections">
            <md-icon md-font-library="material-icons">info_outline</md-icon>
          </md-button>
        </div>
      </div>
    </div>
  </div>
  
  <md-tabs md-dynamic-height="true"
           md-stretch-tabs="always" md-no-ink-bar="true">
    <md-tab label="Wall">
      <y-wall></y-wall>
    </md-tab>
    <md-tab label="Shared by {{ user.display_name }}">
      
    </md-tab>
  </md-tabs>
  
</div>
