<div class="scrollable">
    <div class="scrollable-content section">

        <form role="form" ng-submit='ctrl.signup()'>
            <fieldset>
                <legend>Signup</legend>
                <div class="form-group has-success has-feedback">
                    <label>Email</label>
                    <input type="email"
                           ng-model="ctrl.data.email"
                           class="form-control"
                           placeholder="Enter email">
                </div>

                <div class="form-group has-success has-feedback">
                    <label>First Name</label>
                    <input type="text"
                           ng-model="ctrl.data.first_name"
                           class="form-control"
                           placeholder="enter you firstname">
                </div>

                <div class="form-group has-success has-feedback">
                    <label>Surname</label>
                    <input type="text"
                           ng-model="ctrl.data.last_name"
                           class="form-control"
                           placeholder="Enter your surname">
                </div>

                <div class="form-group has-success has-feedback">
                    <label>Display Name</label>
                    <input type="text"
                           ng-model="ctrl.data.display_name"
                           class="form-control"
                           placeholder="Enter email">
                </div>

                <hr />

                <div class="form-group">
                    <label>Password</label>
                    <input type="password"
                           ng-model="ctrl.data.password"
                           class="form-control"
                           placeholder="Password">
                </div>

                <div class="form-group">
                    <label>retype password</label>
                    <input type="password"
                           ng-model="ctrl.data.password2"
                           class="form-control"
                           placeholder="Password">
                </div>


            </fieldset>
            <hr>

            <button class="btn btn-primary btn-block">
                Signup
            </button>

        </form>
    </div>
</div>
