<div id="chat-container">
    <div class="chat-bubble" ng-repeat="message in messages">
        <img class="chat-avatar" src="../images/isabella.png">
        <div class="chat-message">{{ message.content }}</div>
    </div>
</div>
<form id="chat-form" role="form" ng-submit='sendMessage()'>
    <fieldset>
        <div class="form-group has-success has-feedback">
            <input type="text" ng-model="description" class="form-control" placeholder="Message">
            <input type="submit" name="Send">
        </div>
    </fieldset>
</form>