<div class="scrollable">
    <div class="scrollable-content section">

<form role="form" ng-submit='createItem()'>
    <fieldset>
        <legend>Share an item</legend>
        <div class="form-group has-success has-feedback">
            <label>Description</label>
            <input type="text"
                   ng-model="description"
                   class="form-control"
                   placeholder="A banana looks like...">
        </div>

    </fieldset>
    <hr>

    <button class="btn btn-primary btn-block">
        Share
    </button>

    <!--
  <div ui-content-for="navbarAction">
    <a class='btn' ng-click='login()'>Login</a>
  </div>
  -->

</form>

    </div>
</div>
