<div layout="column" flex>

  <ui-view name="header">
    <md-toolbar id="main-toolbar">
      <div class="md-toolbar-tools">

        <md-button class="md-raised logo md-primary md-hue-2" ng-href="/" aria-label="yunity">
          <md-icon md-svg-src="/images/yunity_logo.svg"></md-icon>
        </md-button>

        <h1>
          <span>yunity TVP</span>
          <md-tooltip>tiltecs viable product</md-tooltip>
        </h1>

        <span flex></span>

        <md-button aria-label="Conversations" show-logged-in
                   class="md-raised tool-button md-primary md-hue-1"
                   ng-href="/conversation">
          <md-icon md-font-library="material-icons">chat</md-icon>
          <span>Chat</span>
        </md-button>

        <md-menu md-position-mode="target-right target">
          <md-button aria-label="Profile" ng-click="$mdOpenMenu($event)"
                     class="md-raised tool-button md-primary md-hue-1">
            <md-icon md-font-library="material-icons">account_circle</md-icon>
            <span>Profile</span>
          </md-button>
          <md-menu-content width="3">
            <md-menu-item ng-repeat="profileItem in ctrl.profileItems">
              <md-button layout="row" ng-href="{{ profileItem.href }}">
                <p flex>{{ profileItem.title }}</p>
                <md-icon md-font-library="material-icons"
                          style="margin: auto 3px auto 0;">{{ profileItem.icon }}</md-icon>
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>

      </div>
    </md-toolbar>
  </ui-view>

  <div flex layout="row" layout-xs="column">

    <md-content>
      <p>cool content!</p>
    </md-content>
    <md-content>
      <ui-view flex></ui-view>
    </md-content>

  </div>

</div>
