#main-sidebar {
  background: rgba(216,27,96,0.9);
  
  md-content {
    background: none; // Prevent grey background from being used.
    width: 320px;     // Set content width so items won't be squished when sidebar closes.
  }
  
  // Applies when sidebar is locked open due to the window being wide enough.
  &.md-locked-open,
  &.md-locked-open-remove-active {
    .logo {
      display: none;
    }
  }
  
  .logo {
    text-align: center;
    
    img {
      margin: 8px;
    }
  }
  
  // Menu list items.
  md-list-item {
    
    md-icon {
      color: rgba(255, 255, 255, 0.87);
      margin-right: 4px;
    }
    
    .md-list-item-text {
      margin: 0;
      color: rgba(255, 255, 255, 0.87);
      font-size: 140%;
      font-weight: bold;
      text-transform: lowercase;
    }
    
  }
}
