#main-toolbar {
  
  .logo {
    width: 80px;
    height: 40px;
    border-radius: 20px;
    padding: 0;
    
    md-icon { width: 100%; }
  }
  
  .tool-button {
    width: 40px;
    height: 40px;
    min-width: 40px;
    line-height: 20px;
    border-radius: 10px;
    margin: 0 6px;
    padding-left: 8px;
    text-align: left;
    transition: width 0.2s ease-in;
  
    &.share { background: #81B252; }
    
    span {
      font-weight: bold;
      opacity: 0;
      transition: opacity 0.2s ease-in;
    }
    
    @media(min-width: $layout-breakpoint-sm) {
      width: 120px;
      
      span { opacity: 1; }
    }
  }
  
}
