<div class="scrollable">
  <div class="scrollable-content">

    <div class="list-group text-center">
      <div class="list-group-item list-group-item-home">
          
          <h2>Welcome to yunity 0.0.0.0.1 alpha</h2>
          <div style="text-align: center">
              <p>
                  <img src="/images/ylogo.png" />
              </p>
              <p>
                  <a class="btn btn-primary btn-block" ng-href="#/login">login</a>
              </p>
              <p>
                  <a class="btn btn-primary btn-block" ng-href="#/signup">signup</a>
              </p>
          </div>
          
        <!--
        <h1>yunity wall</h1>
          {{yAPI.user.name}}
        <div ng-hide="yAPI.user.loggedin">

        </div>

        <ul>
            <li ng-repeat="post in state.posts">
                {{ post.name }}
            </li>
        </ul>
        -->
        
        
      </div>
        
    </div>

  </div>
</div>
