<md-content layout-padding flex>
  <form ng-submit='ctrl.signup()' flex layout='column'>
    <md-input-container>
      <label>Mail</label>
      <input required type="email" name="email" ng-model="ctrl.data.email"
               minlength="5" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
    </md-input-container>

    <md-input-container>
        <label>Name</label>
        <input required name="name" ng-model="ctrl.data.display_name">
    </md-input-container>

    <md-input-container>
        <label>Password</label>
        <input required type="password" name="password" ng-model="ctrl.data.password">
    </md-input-container>

    <md-button class="md-raised" type="submit">Signup</md-button>
  </form>
</md-content>
