<div flex layout="column" class="group">
  
  <div class="page-header"
       md-colors="{ backgroundColor: 'accent-700' }">
    <h1>{{ ctrl.group.name }}</h1>
    <p class="md-padding">{{ ctrl.group.description }}</p>
  </div>
  
  <md-tabs flex md-dynamic-height="true"
           md-stretch-tabs="always" md-no-ink-bar="true">
    <md-tab label="Wall">
      <y-wall></y-wall>
    </md-tab>
    <md-tab label="Members">
      <md-list>
        <md-list-item ng-repeat="member in ctrl.group.members"
                      ng-href="#/profile/{{ member.id }}">
          <div class="md-list-item-text" layout="column">
            {{ member.first_name }} {{ member.last_name }}
          </div>
        </md-list-item>
      </md-list>
    </md-tab>
    <md-tab label="Teams">
      
    </md-tab>
    <md-tab label="More">
      
    </md-tab>
  </md-tabs>
  
</div>
